.footer {
  background: #2c2b2b;
  width: 100%;
  text-align: center;
  padding: 50px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.footer p {
  color: #6B6C6C;
}

.fa-heart {
  color: red;
}
